---
import HTML5 from "../icons/HTML.astro";
import CSS from "../icons/CSS.astro";
import JAVA from "../icons/JAVA.astro";
import SPRING from "../icons/SPRING.astro";
import MYSQL from "../icons/MYSQL.astro";
import JAVASCRIPT from "../icons/JAVASCRIPT.astro";
import PHP from "../icons/PHP.astro";
import ASTRO from "../icons/ASTRO.astro";
import GEMINI from "../icons/GEMINI.astro";
import NODEJS from "../icons/NODEJS.astro";
import TAILWIND from "../icons/TAILWIND.astro";
import VERCEL from "../icons/VERCEL.astro";
import TYPESCRIPT from "../icons/TYPESCRIPT.astro";

const TAGS = {
  TYPESCRIPT: {
    name: "TYPESCRIPT",
    class: "bg-[#0b488b] text-white",
    icon: TYPESCRIPT,
  },

  VERCEL: {
    name: "VERCEL",
    class: "bg-[#232020] text-white",
    icon: VERCEL,
  },

  ASTRO: {
    name: "ASTRO",
    class: "bg-[#232020] text-white",
    icon: ASTRO,
  },
  GEMINI: {
    name: "GEMINI",
    class: "bg-[#1f4b16] text-white",
    icon: GEMINI,
  },
  NODEJS: {
    name: "NODEJS",
    class: "bg-[#8CC84B] text-white",
    icon: NODEJS,
  },
  TAILWIND: {
    name: "TAILWIND",
    class: "bg-[#286360] text-white",
    icon: TAILWIND,
  },
  HTML: {
    name: "HTML5",
    class: "bg-[#E34C26] text-white",
    icon: HTML5,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#264de4] text-white",
    icon: CSS,
  },
  JAVA: {
    name: "JAVA",
    class: "bg-[#d52c24] text-white",
    icon: JAVA,
  },
  SPRING: {
    name: "SPRING",
    class: "bg-[#234D13] text-white",
    icon: SPRING,
  },
  MYSQL: {
    name: "MYSQL",
    class: "bg-[#040E20] text-white",
    icon: MYSQL,
  },
  JAVASCRIPT: {
    name: "JAVASCRIPT",
    class: "bg-[#D3C943] text-white",
    icon: JAVASCRIPT,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#2C14A9] text-white",
    icon: PHP,
  },
};
const PROJECTS = [
  {
    title: "TranslaSite",
    description:
      "TranslaSite es una plataforma impulsada por inteligencia artificial que ofrece traducciones rápidas y precisas de textos e imágenes. Utilizando la tecnología avanzada de Gemini-Flash, asegura que las traducciones mantengan el sentido y matices originales. La interfaz es minimalista e intuitiva, ideal para usuarios de todos los niveles que buscan romper barreras lingüísticas de manera sencilla y eficiente.",
    link: "https://translasite.vercel.app/",
    github: "https://github.com/tabler/tabler-icons",
    image: "/projects/vglProyecto3.webp",
    tags: [
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JAVASCRIPT,
      TAGS.TAILWIND,
      TAGS.NODEJS,
      TAGS.TYPESCRIPT,
      TAGS.JAVASCRIPT,
      TAGS.ASTRO,
      TAGS.GEMINI,
      TAGS.VERCEL,
    ],
  },
  {
    title: "Control De Usuarios",
    description:
      "Una aplicación web desarrollada en Java con Spring que permite mostrar usuarios junto con sus ítems. El control de usuarios se gestiona a través de una API REST, implementada mediante un modelo Vista-Controlador (MVC). Se utilizó tokenización JWT para la autenticación de usuarios. En el frontend, el tratamiento y la recepción de datos se realizaron utilizando JavaScript, empleando una plantilla para los estilos y la estructura HTML.",
    link: "https://github.com/Rakkun9/JavaSpring_Control_de_usuarios",
    github: "https://github.com/Rakkun9/JavaSpring_Control_de_usuarios",
    image: "/projects/vglProyecto2.webp",
    tags: [
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JAVASCRIPT,
      TAGS.JAVA,
      TAGS.SPRING,
      TAGS.MYSQL,
    ],
  },
  {
    title: "AnimeTalks",
    description:
      "Una página web dedicada a la creación y publicación de artículos relacionados con el anime. Los usuarios tienen la capacidad de registrarse, eliminar su cuenta, actualizar su contraseña e iniciar sesión nuevamente. La página web fue desarrollada utilizando HTML, CSS, JavaScript, PHP, PHPMyAdmin y MySQL. PHP se empleó para realizar consultas a la base de datos, mientras que los demás componentes se utilizaron para desarrollar las funcionalidades básicas del sitio web.",
    link: "https://github.com/Rakkun9/AnimeTalks-web-page",
    github: "https://github.com/Rakkun9/AnimeTalks-web-page",
    image: "/projects/vglProyecto1.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.PHP, TAGS.MYSQL],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image, link }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2 mt-10 ">
        <a href={link}>{title}</a>
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex flex-wrap gap-x-2 flex-row mb-8 ">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 mb-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`captura de pantalla del proyecto ${title}`}
      />
    </article>
  ))
}
