---
import HTML5 from "../icons/HTML.astro";
import CSS from "../icons/CSS.astro";
import JAVA from "../icons/JAVA.astro"; 
import SPRING from "../icons/SPRING.astro"; 
import MYSQL from "../icons/MYSQL.astro"; 
import JAVASCRIPT from "../icons/JAVASCRIPT.astro";

const TAGS = {
  HTML: {
    name: "HTML5",
    class: "bg-[#E34C26] text-white",
    icon: HTML5,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#264de4] text-white",
    icon: CSS,
  },
  JAVA: {
    name: "JAVA",
    class: "bg-[#d52c24] text-white",
    icon: JAVA,
  },
  SPRING: {
    name: "SPRING",
    class: "bg-[#234D13] text-white",
    icon: SPRING,
  },
  MYSQL: {
    name: "MYSQL",
    class: "bg-[#040E20] text-white",
    icon: MYSQL,
  },
  JAVASCRIPT: {
    name: "JAVASCRIPT",
    class: "bg-[#D3C943] text-white",
    icon: JAVASCRIPT,
  }
};
const PROJECTS = [
  {
    title: "Control De Usuarios",
    description:
      "Una aplicación web hecha en Java con Spring donde permite mostrar usuarios con items. Control de usuarios es una API REST donde funciona mediante un modelo vista controlador, se realizó con tokenización JWT y autentificación de usuario. Por parte del Font el tratamiento de los datos se recibió y se trato mediante JavaScript, se usó una plantilla por parte de los estilos y estructura HTML ",
    link: "https://tabler.io/icons",
    github: "https://github.com/tabler/tabler-icons",
    image: "/projects/vglProyecto1.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.JAVA, TAGS.SPRING, TAGS.MYSQL],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-8">
        {tags.map((tag) => (
          <li>
            
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4"/>
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`captura de pantalla del proyecto ${title}`}
      />
    </article>
  ))
}
